body {
    background-image: url("img/Sky/Fondo.jpg");
	background-color: black;
	color: cadetblue;
	font-size: 24px;
	margin: 0;
    padding: 0;
    background-image: url("img/Sky/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* Título */

#Título {
	position: relative;
    margin: auto;
    top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

#Título {
	width: 890px;
	height: 12%;
	margin-bottom: 10px;
}

#Título {
	background-color: black;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	box-shadow: brown 1px 1px 5px 5px;
	transition-property: text-shadow, box-shadow, color;
	transition-duration: .8s;
}

#Título:hover {
	text-shadow: 2px 2px 8px darkblue;
	box-shadow: 4px 4px 8px gray;
	color:  #66d4ff;
}

/* Navegación */

#Navegacion {
    width: 890px;
    top: 5px;
	margin: auto;
	position: relative;
	background-color: black;
	border-radius: 10px;
	transition-property: box-shadow;
    transition-duration: .8s;
    box-shadow: brown 1px 1px 5px 5px;
}

#Navegacion:hover {
	box-shadow: 3px 3px 8px #66d4ff;
}

#Navegacion ul {
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

#Navegacion li {
	list-style: none;
	display: inline-block;
	padding: 2px;
	color: darkred;
	font-family: Arial;
	border-radius: 10px;
	transition-property: color, background-color, font-size, box-shadow;
	transition-duration: .8s;
}

#Navegacion li:hover {
	color: cadetblue;
	background-color: black;
	font-size: 30px;
    box-shadow: 3px 3px 6px #66d4ff;
    transform: scale(1.5,1.5) rotate(10deg);
}

/* Imágenes */

#Caja-imagenes {
	text-align: center;
	width: 850px; 
	margin: auto;
	margin-bottom: 10px;
	border-radius: 10px;
    background-color: black;
	box-shadow: brown 1px 1px 5px 5px;
	border: 16px groove steelblue;
}

#Caja-imagenes div {
	display: flex;
	justify-content: space-around;
}

#Caja-imagenes img {
	height: 200px;
	width: 380px;
	border-radius: 10px;
	display: inline-block;
	margin: 10px 5px;
	border: 2px solid brown;
	transition-property: transform, box-shadow;
	transition-duration: .5s;
}

#Caja-imagenes img:hover {
	box-shadow: 1px 1px 5px 5px #66d4ff;
	transform: scale(1.5,1.5);
}

#Color {
	color: brown;
	box-shadow: 3px 3px 6px slategray;
}

#Color:hover{
	color: steelblue;
}

/* Audios */

.Audio {
    text-align: center;
	font-size: 670px;
}

Audio {
    width: 250px;
	height: 20px;
	opacity: .25;
}
